/* This is the CSS file for the views/host.ejs page */

/* --- font imports --- */

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;400;700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #ddd;

	font-family: 'Exo', sans-serif;
	/* outline: 1px solid #fff; */

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	width: 100vw;
	height: 100vw;

	overflow: hidden;
	background-color: #111;
}

#landingPage {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
}

#heading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#landingPageHeading {
	margin-top: 25vmin;
	color: #fff;
	font-size: 12vmin;
	text-align: center;
}

#logo-svg {
	margin-top: 1rem;
	width: 200px;
	height: auto;
}

#createLobby {
	display: block;
	margin: 0 auto;
	margin-top: 3rem;
	text-align: center;
	font-size: 4vmin;
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: 4px;
	background-color: #c80000;
	color: white;
	cursor: pointer;
}

/* ---  Lobby Page Syles  ---*/

#lobbyPage {
	position: absolute;
	left: 0;
	top: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}

#lobbyContainer {
	width: 100%;
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#conectedPlayerContainer {
	width: 100%;
	height: 55vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 10px;
}

#lobbyFooter {
	width: 100%;
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#lobbyTitle {
	margin-top: 0.5vmin;
	color: #fff;
	font-size: 11vmin;
	text-align: center;
}

.connectedPlayer {
	padding: 8px;
	text-align: center;
}

#startGameButton {
	display: block;
	margin: 0 auto;
	margin-top: 1vmin;
	text-align: center;
	font-size: 4vmin;
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: 4px;
	background-color: #c80000;
	color: white;
	cursor: pointer;
}

#digitalMap {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
}

#digitalMapCanvas {
	background-color: #222;
}

#blurFilter {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(50px);
}

/* --- quiz container related --- */

#quizPage {
	position: absolute;
	left: 0;
	top: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	width: 100vw;
	height: 100vh;
}

#quizContainer {
	position: absolute;
	left: 0;
	top: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	width: 100%;
	height: 100%;
}

#questionHeader {
	width: 100%;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#questionHeading {
	font-size: 15vmin;
}

#timeRemaining {
	font-size: 5vmin;
}

#questionContainer {
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 20%;
	padding-right: 20%;
}

#question {
	font-size: 8vmin;
	text-align: center;
	font-weight: 100;
	font-style: normal;
}

#footerContainer {
	width: 100vw;
	height: 20vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.answerContainer {
	font-size: 3vmin;
	max-width: 20%;
	text-align: center;
}

#animationCanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

main {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#welcome-heading {
	font-weight: 100;
	font-size: 8vmin;
}

p {
	margin-top: 1vmin;
	text-align: center;
	font-weight: 200;
	font-size: 2vmin;
}

.screen-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#splashscreenHeadingContainer {
	position: absolute;
	left: 0;
	top: 0;

	overflow: hidden;
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

#blurred-layer {
	backdrop-filter: blur(150px);
}

#splashscreenContainer {
	position: absolute;
	left: 0;
	top: 0;

	width: 100vw;
	height: 100vh;
}

#animationCanvas {
	background-color: #111;
}

#gamePage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
