<!-- This is the main HTML page for the 'host'/game view on the big monitor -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Host Page</title>

		<link rel="stylesheet" href="game_host/css/host.css" />

		<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
		<script src="game_host/js/hostSockets.js"></script>
	</head>
	<body>
		<canvas id="animationCanvas"></canvas>
		<div id="blurred-layer" class="screen-layer"></div>

		<div id="lobbyPage">
			<div id="lobbyContainer">
				<h2 id="lobbyTitle">Lobby</h2>
				<h2>192.168.0.1</h2>
			</div>
			<div id="conectedPlayerContainer"></div>
			<div id="lobbyFooter">
				<p id="numPlayers">Connected Players:</p>
				<button id="startGameButton"><strong>Start Game!</strong></button>
			</div>
		</div>

		<div id="gamePage">
			<div id="digitalMap">
				<canvas id="digitalMapCanvas"></canvas>
			</div>

			<div id="quizPage">
				<div id="blurFilter"></div>

				<div id="quizContainer">
					<div id="questionHeader">
						<h1 id="questionHeading">QUESTION 1</h1>
						<p id="timeRemaining">10s remaining</p>
					</div>
					<div id="questionContainer"><p id="question">What is the answer to life, the universe and everything?</p></div>
					<div id="footerContainer">
						<!-- This section displays the answers to the current question -->
						<div id="answerAContainer" class="answerContainer">
							<p>Answer A</p>
						</div>
						<div id="answerBContainer" class="answerContainer">
							<p>Answer B</p>
						</div>
						<div id="answerCContainer" class="answerContainer">
							<p>Answer C</p>
						</div>
						<div id="answerDContainer" class="answerContainer">
							<p>Answer D</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="splashscreenContainer">
			<div id="splashscreenHeadingContainer">
				<h1 id="welcome-heading">Click here to start host</h1>
			</div>
		</div>
	</body>
	<script src="game_host/js/splashscreen.js"></script>
	<script src="game_host/js/host.js"></script>
	<script src="game_host/js/quiz.js"></script>
	<script src="game_host/js/lobby.js"></script>
	<script src="game_host/js/page_transition_handler.js"></script>
</html>
