<!-- This is the main HTML page for the 'client'/player cellphone view -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player Page</title>

    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="player_web_app/css/player.css" />
    <!-- <link  rel="stylesheet" href="player_web_app/css/winner-page.css" /> -->

  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script src="player_web_app/js/quiz_script.js"></script>
  <!-- <script src="player_web_app/js/confetti.js"></script> -->
  <script src="player_web_app/js/joystickScript.js"></script>
  <script src="player_web_app/js/player.js"></script>
  <script src="player_web_app/js/playerSockets.js"></script> 
  <!-- <script src="player_web_app/js/waitingScript.js"></script> -->
  
  </head>
  <body>
    <div id="clientContent">
      <!-- QUIZ SCREEN -->

      <!-- <div class="page" id="answering-question"> -->
      <div class="page" id="quiz-container">
        <h1 id="questionText">QUESION TEXT</h1>
        <br /><br /><br />
        <h1>
          <span class="timer"></span>
        </h1>
        <table class="answerButtons">
          <tr>
            <!-- TAKE NOTE OF THE FORMAT FOR `dispatch`ing SOCKET EVENTS TO THE SERVER -->
            <!-- SEE `public/player_web_app/js/player.js` FOR IMPLEMENTATION -->
            <td>
              <div onclick="dispatch('userAnswered', 0)" id="answerA">ANSWER A</div>
            </td>
            <td>
              <div onclick="dispatch('userAnswered', 1)" id="answerB">ANSWER B</div>
            </td>
          </tr>
          <tr>
            <td>
              <div onclick="dispatch('userAnswered', 2)" id="answerC">ANSWER C</div>
            </td>
            <td>
              <div onclick="dispatch('userAnswered', 3)" id="answerD">ANSWER D</div>
            </td>
          </tr>
        </table>
      </div>

      <!-- JOYSTICK SCREEN -->
      <div class="page" id="joystick-container">
        <div id="joystick">
          <div id="joystick-knob"></div>
        </div>
      </div>

      <!-- CORRECT ANSWER SCREEN -->
      <div class="page" id="correct-page">
        <div id="correct-container">
          <h1 class="player-name">Player Name</h1>
          <img
            id="correct-image"
            src="player_web_app/images/correct.png"
            alt="Result Image"
            class="result-image"
          />
        </div>
      </div>

      <!-- INCORRECT ANSWER SCREEN -->
      <div class="page" id="incorrect-page">
        <div id="incorrect-container">
          <h1 class="player-name">Player Name</h1>
          <img
            id="incorrect-image"
            src="player_web_app/images/incorrect.png"
            alt="Result Image"
            class="result-image"
          />
        </div>
      </div>

      <!-- WAITING PAGE -->
      <div class="page" id="waiting-page">
          <h1>
            <span class="timer"></span>
          </h1>
          <img
           id="waiting-image"
           src="player_web_app/images/BBD_Logo.jpeg" 
           alt="Result Image" 
           class="result-image"
           />
          <h1 id="waiting-banner">Waiting For The Game To Start</h1>
          <div id="loader"></div>
      </div>

      <!-- WINNER PAGE -->
      <div class="page" id="winner-page-container">
        <div id="winner-page-trophy">
          <img alt="Trophy" src="player_web_app/images/Trophy.png" />
        </div>
        <span id="winner-page-team-name-wins">Team A Wins!</span>
      </div>
    </div>
  </body>
</html>
