/* This is the CSS file for the views/player.ejs page */

* {
  box-sizing: border-box;
  margin: 0vh;
  padding: 0vw;
}

body {
  align-content: center;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  /* background-color: #222; */
}

#quiz-container {
  width: 100vw;
  height: 100vh;

  position: absolute;

  padding-top: 10vh;
  display: flex;
  justify-content: center;
  background-color: #222;
}

#joystick-container {
  width: 100vw;
  height: 100vh;

  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

#joystick {
  width: 60vmin;
  height: 60vmin;
  border-radius: 50%;
  box-shadow: var(--inner-shadow);

  background-color: #2f2f2f;

  display: flex;
  justify-content: center;
  align-items: center;
}

#joystick-knob {
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
  box-shadow: var(--outer-shadow);
  background-color: #222;
}

#correct-page {
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 2em;
}

#correct-container {
  justify-content: center;
}

#correct-image {
  width: 30vmin;
  height: 30vmin;
  justify-content: center;
}

#incorrect-page {
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 2em;
}

#incorrect-container {
  justify-content: center;
}

#incorrect-image {
  width: 30vmin;
  height: 30vmin;
  justify-content: center;
}

#waiting-page{
background-color: #222222;
height: 100vh;
width: 100vw;
font-size: 2em;
}

#waiting-banner {
  text-align:center;

}

#waiting-image {
  width: 40vmin;
  height: 40vmin;
}

#loader {
  padding: 5%;
  width: 5%;
  height: 5%;
  border: 1vmax solid #ffffff;
  border-top: 1vmax solid #ff0000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#winner-page-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a77c07;
}

#winner-page-trophy {
  padding-left: 20%;
  top: 10%;
  height: 50%;
  width: 60%;
  display: flex;
}

#winner-page-team-name-wins {
  top: 10%;
  color: white;
  width: 100vw;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 3em;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: bold;
}

.result-image {
  width: 20vmin;
  height: 20vmin;
  object-fit: cover;
  border-radius: 10%;
  margin-top: 20%;
  align-self: center;
  justify-self: center;
}

.player-name {
  color: #ffffff;
  font-size: 2em;
}

.hiddenElem {
  display: none;
  visibility: hidden;
}

.answerButtons {
  position: absolute;
  width: 100vw;
  height: 50vh;
  border-spacing: 2em;
  align-self: center;
}

.answerButtons * {
  user-select: none;
}

.answerButtons td {
  background-color: white;
  border-radius: 1em;
  pointer: cursor;
  user-select: none;
  font-size: 2em;
}

.answerButtons td:hover {
  background-color: lightgray;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
}

#clientContent {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
